* {
  box-sizing: border-box;
  transition: all .3s ease;
}

.chat {
  --sb-track-color: #2d2f36;
  --sb-thumb-color: #9fa0a2;
  --sb-size: 13px;
}

.chat::-webkit-scrollbar {
  width: var(--sb-size)
}

.chat::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 12px;
}

.chat::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 12px;
  border: 3px solid #2d2f36;
}

@supports not selector(::-webkit-scrollbar) {
  .chat {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}


html, body {
  background: #2d2f36;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  width: calc(100% - 20px);
  margin: 0 auto;
  font-family: Helvetica, Arial, Sans, sans-serif;
  color: #eee;
}

.user-count span {
  margin: 0;
  font-size: 20px;
}

h1 {
  margin: 0;
  font-size: 32px;
}

.user-count {
  margin-left: auto;
  
}

.chat-header {
  display: flex;
  align-items: center;
  height: 60px;
  
}

.chat {
  content: '';
  width: 100%;
  height: calc(100vh - 165px);
  background: #24272e;
  padding: 5px 10px;
  overflow: scroll;
  overflow-x: hidden;
}



.chat p {
  margin: 0 0 5px 0;
}

input, button {
  width: 100%;
  font: inherit;
  background: #24272e;
  border: none;
  margin-top: 10px;
  padding: 5px 10px;
  color: #eee;
  height: 35px;
  outline: none;
}

button:hover {
  cursor: pointer;
  background: #747475;
}

@media all and (min-width: 500px) {
  .chat {
    height: calc(100vh - 140px);
  }
  input {
    width: calc(100% - 160px);
  }
  button {
    float: right;
    width: 150px;
  }
}